@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.foto1 {
    margin-left: 20%;
    width: 800px;
    height: 300px;
    padding: 10px;
    transition: 1s;
}

.foto2 {
    margin-left: 20%;
    width: 800px;
    height: 300px;
    padding: 10px;
    transition: 1s;
}

.foto3 {
    margin-left: 20%;
    width: 800px;
    height: 300px;
    padding: 10px; 
    transition: 1s;
}

.foto4 {
    margin-left: 20%;
    width: 800px;
    height: 300px;
    padding: 10px;
    transition: 1s;
}

.foto1:hover {
    transform: scale(1.02);
}

.foto2:hover {
    transform: scale(1.02);
}

.foto3:hover {
    transform: scale(1.02);
}

.foto4:hover {
    transform: scale(1.02);
}