@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.cardscoment {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
    border-radius: 15px;
}

.cardcoment .user {
    width: 100px;
    border-radius: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin: 5px;
}

.cardcoment {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px blue;
}

.cardscoment:hover {
    transform: scale(1.02);
    transition: 3s;
}